body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1;
  flex-direction: column;
}

#form-container,
#otp-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
}

#main-page {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-message {
  font-size: 2rem;
}
